*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif; /* Define a fonte do site*/
}

.Background img {
    margin-top: 180px;
    width: 100%;
    height: auto;
}

.Menu{
    background-color: rgb(155, 65, 65); /* Define cor de Fundo*/
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    margin: 0 auto;
}

.MenuFixo{
    position: fixed; /*Fixa a posição do menu*/
    width: 100%;
}

.Menu a{
    color: beige;
    font-size: 76px;
    margin: 0 100px;
    text-decoration: none;
}

.Menu img{
    width: 350px;
    height: auto;
    box-sizing: border-box;
}

/*
.Personagens img{
    width: 10%;
    height: auto;
}
*/

.Texto{
 /* BG Só para saber ocupação */
    width: 45%;
    margin: 200px 50%;
    text-align: left;
    font-size: 48px;
}

.Texto p{
    padding-top: 30px;
    line-height: 180%;
}
/*
.GCSite{
    text-decoration: none;
}

.Tabelas{
    background-color: rgb(60, 60, 153);
    width: 900px;
    margin: auto;
    align-items: center ;
    border-collapse: collapse;
}

.Tabelas th, .Tabelas td{
    border: 1px solid yellow
}
*/
